@font-face {
    font-family: 'gilroy-medium';
    src: url('../fonts/gilroy-medium.woff2') format('woff2'),
         url('../fonts/gilroy-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy-bold';
    src: url('../fonts/gilroy-bold.woff2') format('woff2'),
         url('../fonts/gilroy-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Reset styles*/
*{
padding: 0;
margin: 0;
border: 0;
}
 *,*:before,*:after{
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
    font-family: 'gilroy-medium', 'Arial', sans-serif;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

h1,h2{
    font-family: 'gilroy-bold';
}

h1{
    font-size: 50px;
    line-height: 59px;
}

h2{
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 30px;
}

a:hover, a:focus, a:active{
    color: #000000;
}

.container {
   max-width: 980px;
   padding: 0 15px;
   margin: 0 auto;
}

/*Styles for navigation*/

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    z-index: 99;
    background-color: #ffffff;
}

.nav ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 25px 0;
    border-bottom: 1px solid #828282;
}

.nav ul li a{
    font-family: 'gilroy-bold';
    color:#828282;
}

.nav ul li a:hover, .nav ul li a:focus, .nav ul li a:active{
    color: #000000;
}

/*Styles for section Home*/

.home{
    border-top: 55px solid transparent;
	margin-top: -55px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
    padding-bottom: 60px;
}

.home .intro{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 87px;
    padding: 21px 0 40px 0;
}

.home .intro .intro_name{
    position: relative;
    top: 13px;
}

.home .intro .intro_desc{
    position: relative;
    top: 5px;
}

.home .intro .lang_switch{
    position: relative;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    top: -24px;
}

.home .intro .lang_switch a {
    font-family: 'gilroy-bold';
    font-size: 16px;
    color:#828282;
}

.home .intro .lang_switch a:hover,
.home .intro .lang_switch a:focus,
.home .intro .lang_switch a:active{
    color: #000000;
}

.home .intro_photo img{
    display: block;
    max-width: 100%;
    height: auto;
}

/*Styles for section About*/

.about{
    border-top: 55px solid transparent;
	margin-top: -55px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
    padding: 50px 0;
    background-color: #F6F6F6;
}

.about div{
    max-width: 500px;
}

.about p{
    margin-bottom: 25px;
}

/*Styles for section Skills*/

.skills{
    border-top: 55px solid transparent;
	margin-top: -55px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
    padding: 50px 0 10px 0;
}

.skills .skills_text{
    margin-bottom: 40px;
}

.skills .skills_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.skills .skills_container .skill{
    margin: 0 30px;
}

.skills .skills_container .skill_icon{
    margin: 0 auto;
    margin-bottom: 25px;
}

.skills .skills_container .skill_text{
    font-size: 14px;
    margin-bottom: 10px;
}

.skills .skills_container .rating{
    font-size: 24px;
    margin-bottom: 40px;
}

/*Styles for section Portfolio*/

.portfolio{
    border-top: 55px solid transparent;
	margin-top: -55px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
    padding: 50px 0;
    background-color: #F6F6F6;
}

.portfolio img{
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 25px;
}

.portfolio div{
    margin-bottom: 80px;
}

.portfolio a{
    display: block;
    font-family: 'gilroy-medium';
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.portfolio a:hover, .portfolio a:focus, .portfolio a:active{
    text-decoration: underline;
    opacity: .7;
}

.portfolio div:last-child{
    margin-bottom: 0px;
}

/*Styles for section Contacts*/

.contacts{
    border-top: 55px solid transparent;
	margin-top: -55px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
    padding: 50px 0;
}

.contacts .contacts_text{
    margin-bottom: 40px;
}

a.button{
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 90px; 
    margin-bottom: 80px;
}

a.button:hover, a.button:focus, a.button:active{
    opacity: .5;
}

.contacts .contact_links{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 40px;
}

.contacts .contact_links a{
    margin: 0 40px;
}

.contacts .contact_links a:hover,
.contacts .contact_links a:focus,
.contacts .contact_links a:active{
    opacity: .5;
}

.contacts .contacts_links_text{
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}

.contacts .contact_links img{
    min-width: 40px;
}

/* Media */

@media  screen and (max-width: 480px) {
    .contacts .contact_links a{
        margin: 0 20px;
    }
}

